[submodule "site/themes/tailwind"]
	path = site/themes/tailwind
	url = https://github.com/tomowang/hugo-theme-tailwind.git
[submodule "themes/terminal-elegance"]
	path = themes/terminal-elegance
	url = https://worktree.ca/robjohnston/terminal-elegance
